.maindiv {
    text-align: center;
}

.maindiv h1 {
    text-decoration: underline;
}

#result {
    text-align: center;
    padding: 10px;
    margin-left: 35%;
    margin-right: 35%;
    border: 1px;
    border-color: black;
    border-style: solid;
}