* {
    margin: 0;
    padding: 0;
    transition: all 1.5s ease-in-out;
    background-color: transparent;
}

body {
    background: transparent !important;
}

#digitalTime {
    padding: .1rem;
    background-color: rgba(0, 0, 0, 0.637);
    color: #fff;
    font-family: 'Space Mono', monospace;
}