* {
    margin: 0;
    padding: 0;
}

/*Caja de código*/

.code {

    background-color: rgb(155, 155, 155);

    color: #fff;

    padding: 5px;

    width: auto;

}



/*Atributo HTML*/

/*Selector CSS*/

.a {

    color: rgb(167, 214, 36);

}



/*Valor de atributo HTML*/

.c {

    color: rgb(255, 195, 43);

}



/*Propiedad CSS*/

.b {

    color: rgb(0, 217, 255);

}



/*Valor de propiedad CSS*/

.m {

    color: rgb(131, 62, 221);

}


.div-a-centrar {
    height: 30px;
    width: 200px;
    background-color: blueviolet;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}