html {
    padding: 5px;
}
h1 {
    padding: 10px;
}
h3 {
    color: white;
}
div {
    background-color: dimgrey;
    padding: 20px;
}
a {
    background-color: deepskyblue;
    padding: 10px;
    color: #fff;
}
a:hover {
    background-color: aqua;
    border: 2px;
    border-left: #fff;
    border-top: #fff;
    border-style: solid;
}