* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    width: 2rem;
    border: none;
}
input.names {
    width: 100%;
}

#fix {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#fix table {
    margin: 1rem;
}

table {
    border-spacing: 0;
    border: 1px solid;
    text-align: center;
}

tr#theadn th {
    cursor: pointer;
}

p {
    margin: 10px;
}

td,th {
    border: .1px solid;
}

#positiontable td, #positiontable td {
    padding: 0 0.1rem;
}

.gold {
    background-color: rgb(211, 190, 73);
}
.silver {
    background-color: silver;
}
.bronze {
    background-color: rgb(128, 90, 81);
    color: #fff;
}

.positiontable {
    width: 100%;
}

.winner {
    background-color: green;
}